:root {
  --primary-color: #ffffff;
  --primary-color-alt: rgba(0, 0, 0, 0.87);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color-alt);
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-color-alt: #ffffff;
    --primary-color: rgba(0, 0, 0, 0.87);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    /
  }
} */